node_modules

.vscode 
*.http
# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.pnpm-store
.svelte-kit

app/build
app/build/*/**
infra/venv*/**
infra/.pulumi
infra/__pycache__/__main__.cpython-312.pyc
infra/__pycache__/__main__.cpython-313.pyc
