@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui";
@plugin "daisyui/theme" {
	name: 'emerald';
	default: true;
	--color-primary: hsl(296, 64%, 50%);
	--color-secondary: rgb(130, 134, 138);
}

/* In your main CSS file or a custom component CSS file */
.slate-1-range-track {
	@apply [&::-moz-range-track]:bg-gray-300 [&::-webkit-slider-runnable-track]:bg-gray-300;
}

.proportion-selector input[type='range'] {
	display: none !important;
}
/* make a pulse animation of the box shadow going in and out */
@keyframes tourPulse {
	0% {
		box-shadow: 0 0 0 2px var(--color-primary);
	}
	100% {
		box-shadow: 0 0 0 10px var(--color-primary);
	}
}
.touring * {
	opacity: 0.9 !important;
}

.touring .tour-focused {
	opacity: 1 !important;
}
.touring .tour-focused * {
	opacity: 1 !important;
}

.tour-focused {
	opacity: 1 !important;
	animation: tourPulse 3s infinite;
	/* pulsate */
}

.appear-hover {
	opacity: 0 !important;
	transition: opacity 0.2s ease-in-out;
}
.result-card-hovered .appear-hover {
	opacity: 1 !important;
}

.result-card-downloading .appear-hover,
.result-card-downloading .hide-image {
	display: none !important;
}
.result-card-downloading .image-only {
	display: block !important;
}
.image-only {
	display: none !important;
}
